*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk';
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url(../fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.conteudo{
    display: flex;
    height: 400px;
    width: 600px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
    margin-bottom: 20px;
}
/*********** INÍCIO RESULTADO ********/
.resultado{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    background-image: linear-gradient(0deg, #1900ffe5, 40%, #6a53ec);
    border-radius: 20px;
}

.resultado p{
    color: #bbb;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}

.result-valor{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: linear-gradient(190deg, #442fffe5, 40%, rgb(81, 55, 228));
}

.result-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.resultado span:nth-child(1){
    color: #FFF;
    font-size: 60px;
    font-weight: bold;
}

.resultado span:nth-child(2){
    color: #999;
    font-weight: bold;
}

.result-texto span:nth-child(1){
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.result-texto span:nth-child(2){
    color: #ccc;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 30px;
    text-align: center;
}

/********* FIM RESULTADO **********/


/******** INÍCIO SUMÁRIO *********/
.sumario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 20px;
}

.sumario p:nth-child(1){
    width: 250px;
    margin-bottom: 10px;
    color: rgb(38, 38, 82);
    font-size: 20px;
    font-weight: bold;
}

.categorias{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 45px;
    margin: 10px;
    border-radius: 5px;
}

.categorias div{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sumario div:nth-child(n + 1){
    padding: 0px 5px;
}

.sumario div:nth-child(2){
    background-color: #FEF5F3;
    
}

.sumario div:nth-child(3){
    background-color: #FFFFED;
}

.sumario div:nth-child(4){
    background-color: #EDFFF5;
}

.sumario div:nth-child(5){
    background-color: #F8F3FE;
}

.categorias div img{
    padding-right: 10px;
}

.categorias div p{
    font-weight: bold;
}

.reacao{
    color: #e76363;
}

.memoria{
    color: #f3cb5e;
}

.verbal{
    color: #45ddbc;
}

.visual{
    color: #3d3bda;
}

.categorias span span{
    font-weight: bold;
}


.sumario button{
    color: #fff;
    width: 250px;
    height: 45px;
    font-weight: bold;
    background: #3d3c5c;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
}


/********* FIM SUMÁRIO *********/

/*** INICÍO ATRIBUIÇÃO ***/

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/*** FIM ATRIBUIÇÃO ***/

/*** VERSÃO MOBILE ***/

@media(max-width: 599px){
    .conteudo{
        flex-direction: column;
        height: 800px;
        width: 300px;
    }

    .resultado{
        height: 50%;
        width: 100%;
    }

    .sumario{
        height: 50%;
        width: 100%;
    }
}