*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url(../fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.conteudo{
    display: flex;
    height: 400px;
    width: 600px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
}

.resultado{
    width: 50%;
    background-image: linear-gradient(0deg, #1900ffe5, 40%, #6a53ec);
    border-radius: 20px;
}

.sumario{
    width: 50%;
    border-radius: 20px;
}


.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }